.elementor-1874 .elementor-element.elementor-element-44c9711f .elementor-heading-title {color: #000;font-family: "Work Sans",Sans-serif;font-size: 24px;}
.elementor-1874 .elementor-element.elementor-element-6aeab69 .elementor-spacer-inner {height: 50px;}
.elementor-1874 .elementor-element.elementor-element-bad316d .elementor-spacer-inner {height: 25px;}
.elementor-1874 .elementor-element.elementor-element-3eef3fb0 .elementor-spacer-inner {height: 50px;}
.elementor-1874 .elementor-element.elementor-element-3f24d856 .elementor-spacer-inner {height: 50px;}
.elementor-1874 .elementor-element.elementor-element-6a9ad62d .elementor-spacer-inner {height: 30px;}
.elementor-1874 .elementor-element.elementor-element-23e2b84a .elementor-spacer-inner {height: 50px;}
.elementor-1874 .elementor-element.elementor-element-61dd3762 .elementor-heading-title {color: #000;font-size: 20px;font-weight: 600;}
.elementor-1874 .elementor-element.elementor-element-76ed92f4 .elementor-spacer-inner {height: 30px;}
.elementor-1874 .elementor-element.elementor-element-388fc7d2 .elementor-spacer-inner {height: 30px;}
.elementor-1874 .elementor-element.elementor-element-606518a7 .elementor-spacer-inner {height: 30px;}
.elementor-1874 .elementor-element.elementor-element-1c26901b .elementor-spacer-inner {height: 50px;}
.elementor-1874 .elementor-element.elementor-element-5e1c0616 .elementor-heading-title {color: #000;font-size: 20px;font-weight: 600;}
.elementor-1874 .elementor-element.elementor-element-76aafe28 .elementor-spacer-inner {height: 20px;}
@media (min-width:768px) {.elementor-1874 .elementor-element.elementor-element-53c48da9 {width: 8.3333%;}
	.elementor-1874 .elementor-element.elementor-element-20bfb5ac {width: 83.3334%;}
	.elementor-1874 .elementor-element.elementor-element-16aaf5f6 {width: 8.334%;}
	.elementor-1874 .elementor-element.elementor-element-70e6ffaf {width: 8.3333%;}
	.elementor-1874 .elementor-element.elementor-element-2a6ad7cf {width: 83.3334%;}
	.elementor-1874 .elementor-element.elementor-element-5e4a2c60 {width: 8.334%;}}