.elementor-573 .elementor-element.elementor-element-5aa111ea .elementor-heading-title {color: #000;font-family: "Work Sans",Sans-serif;font-size: 24px;}
.elementor-573 .elementor-element.elementor-element-262db7cf .elementor-spacer-inner {height: 50px;}
.elementor-573 .elementor-element.elementor-element-739e5bd5 .elementor-spacer-inner {height: 25px;}
.elementor-573 .elementor-element.elementor-element-5be3fffa .elementor-spacer-inner {height: 50px;}
.elementor-573 .elementor-element.elementor-element-6ddef740 .elementor-spacer-inner {height: 50px;}
.elementor-573 .elementor-element.elementor-element-248e776c .elementor-spacer-inner {height: 30px;}
.elementor-573 .elementor-element.elementor-element-6db16506 .elementor-spacer-inner {height: 50px;}
.elementor-573 .elementor-element.elementor-element-4df23f5b .elementor-heading-title {color: #000;font-size: 20px;font-weight: 600;}
.elementor-573 .elementor-element.elementor-element-6e27399 .elementor-spacer-inner {height: 30px;}
.elementor-573 .elementor-element.elementor-element-1d1ce80f .elementor-spacer-inner {height: 30px;}
.elementor-573 .elementor-element.elementor-element-275b9a4f .elementor-spacer-inner {height: 30px;}
.elementor-573 .elementor-element.elementor-element-6b19f5b3 .elementor-spacer-inner {height: 50px;}
.elementor-573 .elementor-element.elementor-element-716c5eda .elementor-heading-title {color: #000;font-size: 20px;font-weight: 600;}
.elementor-573 .elementor-element.elementor-element-441a3262 .elementor-spacer-inner {height: 20px;}
@media (min-width:768px) {.elementor-573 .elementor-element.elementor-element-1493ced3 {width: 8.3333%;}
	.elementor-573 .elementor-element.elementor-element-5237c45d {width: 83.3334%;}
	.elementor-573 .elementor-element.elementor-element-4e14db38 {width: 8.334%;}
	.elementor-573 .elementor-element.elementor-element-1f6f0845 {width: 8.3333%;}
	.elementor-573 .elementor-element.elementor-element-79f8345d {width: 83.3334%;}
	.elementor-573 .elementor-element.elementor-element-5d803ea8 {width: 8.334%;}}