.elementor-572 .elementor-element.elementor-element-d336e11 .elementor-heading-title {color: #000;font-family: "Work Sans",Sans-serif;font-size: 24px;}
.elementor-572 .elementor-element.elementor-element-7fdf9a86 .elementor-spacer-inner {height: 50px;}
.elementor-572 .elementor-element.elementor-element-25559e60 .elementor-spacer-inner {height: 25px;}
.elementor-572 .elementor-element.elementor-element-2367b6b3 .elementor-spacer-inner {height: 50px;}
.elementor-572 .elementor-element.elementor-element-799f034b .elementor-spacer-inner {height: 50px;}
.elementor-572 .elementor-element.elementor-element-6b7e8dc3 .elementor-spacer-inner {height: 30px;}
.elementor-572 .elementor-element.elementor-element-21d25df .elementor-spacer-inner {height: 50px;}
.elementor-572 .elementor-element.elementor-element-6df4ec4a .elementor-heading-title {color: #000;font-size: 20px;font-weight: 600;}
.elementor-572 .elementor-element.elementor-element-3544afeb .elementor-spacer-inner {height: 30px;}
.elementor-572 .elementor-element.elementor-element-55968d3a .elementor-spacer-inner {height: 30px;}
.elementor-572 .elementor-element.elementor-element-6d6a87bb .elementor-spacer-inner {height: 30px;}
.elementor-572 .elementor-element.elementor-element-1bf19031 .elementor-spacer-inner {height: 50px;}
.elementor-572 .elementor-element.elementor-element-37819893 .elementor-heading-title {color: #000;font-size: 20px;font-weight: 600;}
.elementor-572 .elementor-element.elementor-element-7f43a0af .elementor-spacer-inner {height: 20px;}
@media (min-width:768px) {.elementor-572 .elementor-element.elementor-element-477cd79 {width: 8.3333%;}
	.elementor-572 .elementor-element.elementor-element-7b927e4f {width: 83.3334%;}
	.elementor-572 .elementor-element.elementor-element-56c4e812 {width: 8.334%;}
	.elementor-572 .elementor-element.elementor-element-3f632201 {width: 8.3333%;}
	.elementor-572 .elementor-element.elementor-element-ce241f2 {width: 83.3334%;}
	.elementor-572 .elementor-element.elementor-element-593dbb73 {width: 8.334%;}}