.elementor-1105 .elementor-element.elementor-element-4a71683b .elementor-heading-title {color: #000;font-family: "Work Sans",Sans-serif;font-size: 24px;}
.elementor-1105 .elementor-element.elementor-element-6276006 .elementor-spacer-inner {height: 50px;}
.elementor-1105 .elementor-element.elementor-element-26cbb359 .elementor-spacer-inner {height: 25px;}
.elementor-1105 .elementor-element.elementor-element-37a78381 .elementor-spacer-inner {height: 50px;}
.elementor-1105 .elementor-element.elementor-element-1d9364bf .elementor-spacer-inner {height: 50px;}
.elementor-1105 .elementor-element.elementor-element-26e527cf .elementor-spacer-inner {height: 30px;}
.elementor-1105 .elementor-element.elementor-element-71e06015 .elementor-spacer-inner {height: 50px;}
.elementor-1105 .elementor-element.elementor-element-4df0d8fa .elementor-heading-title {color: #000;font-size: 20px;font-weight: 600;}
.elementor-1105 .elementor-element.elementor-element-50119726 .elementor-spacer-inner {height: 30px;}
.elementor-1105 .elementor-element.elementor-element-58b51ac9 .elementor-spacer-inner {height: 30px;}
.elementor-1105 .elementor-element.elementor-element-6e392acb .elementor-spacer-inner {height: 30px;}
.elementor-1105 .elementor-element.elementor-element-50a4e3dd .elementor-spacer-inner {height: 50px;}
.elementor-1105 .elementor-element.elementor-element-f9799de .elementor-heading-title {color: #000;font-size: 20px;font-weight: 600;}
.elementor-1105 .elementor-element.elementor-element-7763a705 .elementor-spacer-inner {height: 20px;}
@media (min-width:768px) {.elementor-1105 .elementor-element.elementor-element-267344ab {width: 8.3333%;}
	.elementor-1105 .elementor-element.elementor-element-50406436 {width: 83.3334%;}
	.elementor-1105 .elementor-element.elementor-element-31a3fe96 {width: 8.334%;}
	.elementor-1105 .elementor-element.elementor-element-2c6ead72 {width: 8.3333%;}
	.elementor-1105 .elementor-element.elementor-element-7efb096f {width: 83.3334%;}
	.elementor-1105 .elementor-element.elementor-element-5d03c888 {width: 8.334%;}}