.elementor-587 .elementor-element.elementor-element-207d52c6 .elementor-heading-title {color: #000;font-family: "Work Sans",Sans-serif;font-size: 24px;}
.elementor-587 .elementor-element.elementor-element-4d440d7c .elementor-spacer-inner {height: 50px;}
.elementor-587 .elementor-element.elementor-element-36b12e1b .elementor-spacer-inner {height: 25px;}
.elementor-587 .elementor-element.elementor-element-15c5db88 .elementor-spacer-inner {height: 50px;}
.elementor-587 .elementor-element.elementor-element-1e797e26 .elementor-spacer-inner {height: 50px;}
.elementor-587 .elementor-element.elementor-element-4cfc2afe .elementor-spacer-inner {height: 30px;}
.elementor-587 .elementor-element.elementor-element-93eddb2 .elementor-spacer-inner {height: 50px;}
.elementor-587 .elementor-element.elementor-element-40a21df7 .elementor-heading-title {color: #000;font-size: 20px;font-weight: 600;}
.elementor-587 .elementor-element.elementor-element-3a4bf00a .elementor-spacer-inner {height: 30px;}
.elementor-587 .elementor-element.elementor-element-10342eb3 .elementor-spacer-inner {height: 30px;}
.elementor-587 .elementor-element.elementor-element-60e2b888 .elementor-spacer-inner {height: 30px;}
.elementor-587 .elementor-element.elementor-element-431858d .elementor-spacer-inner {height: 50px;}
.elementor-587 .elementor-element.elementor-element-783b0604 .elementor-heading-title {color: #000;font-size: 20px;font-weight: 600;}
.elementor-587 .elementor-element.elementor-element-34ba6fcf .elementor-spacer-inner {height: 20px;}
@media (min-width:768px) {.elementor-587 .elementor-element.elementor-element-60388215 {width: 8.3333%;}
	.elementor-587 .elementor-element.elementor-element-48020d5d {width: 83.3334%;}
	.elementor-587 .elementor-element.elementor-element-7457d9f1 {width: 8.334%;}
	.elementor-587 .elementor-element.elementor-element-3eef0e96 {width: 8.3333%;}
	.elementor-587 .elementor-element.elementor-element-5afc4de {width: 83.3334%;}
	.elementor-587 .elementor-element.elementor-element-3627f50b {width: 8.334%;}}