.elementor-574 .elementor-element.elementor-element-e4a03fe .elementor-heading-title {color: #000;font-family: "Work Sans",Sans-serif;font-size: 24px;}
.elementor-574 .elementor-element.elementor-element-22eaba1f .elementor-spacer-inner {height: 50px;}
.elementor-574 .elementor-element.elementor-element-1774420f .elementor-spacer-inner {height: 25px;}
.elementor-574 .elementor-element.elementor-element-eedaf2f .elementor-spacer-inner {height: 50px;}
.elementor-574 .elementor-element.elementor-element-6deaeb6d .elementor-spacer-inner {height: 50px;}
.elementor-574 .elementor-element.elementor-element-67bcbe56 .elementor-spacer-inner {height: 30px;}
.elementor-574 .elementor-element.elementor-element-79d29a32 .elementor-spacer-inner {height: 50px;}
.elementor-574 .elementor-element.elementor-element-4247d1e0 .elementor-heading-title {color: #000;font-size: 20px;font-weight: 600;}
.elementor-574 .elementor-element.elementor-element-7153bde .elementor-spacer-inner {height: 30px;}
.elementor-574 .elementor-element.elementor-element-10d21d6b .elementor-spacer-inner {height: 30px;}
.elementor-574 .elementor-element.elementor-element-3ceb5758 .elementor-spacer-inner {height: 30px;}
.elementor-574 .elementor-element.elementor-element-5d7f3130 .elementor-spacer-inner {height: 50px;}
.elementor-574 .elementor-element.elementor-element-113d54e3 .elementor-heading-title {color: #000;font-size: 20px;font-weight: 600;}
.elementor-574 .elementor-element.elementor-element-4a05eed .elementor-spacer-inner {height: 20px;}
@media (min-width:768px) {.elementor-574 .elementor-element.elementor-element-71557985 {width: 8.3333%;}
	.elementor-574 .elementor-element.elementor-element-1d633c91 {width: 83.3334%;}
	.elementor-574 .elementor-element.elementor-element-36eb643 {width: 8.334%;}
	.elementor-574 .elementor-element.elementor-element-32c70fce {width: 8.3333%;}
	.elementor-574 .elementor-element.elementor-element-5ce8f610 {width: 83.3334%;}
	.elementor-574 .elementor-element.elementor-element-48d100f1 {width: 8.334%;}}